<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{{ path('hylook_main_homepage')}}" class="standard-logo" data-dark-logo="{{asset('bundles/hylookmain/images/logohylook.png')}}"><img src="{{asset('bundles/hylookmain/images/logohylook.png')}}" alt=" Logo"></a>
						
					</div><!-- #logo end -->
                    <div>
			 {% set locale = app.request.locale %}
			 {{ locale }}
			 {% if locale == 'es_ES' %}
			     <span>Español</span>
			     <a href="{{ path('hylook_main_homepage', { '_locale': 'en_US' }) }}">English</a>
			 {% elseif locale == 'en_US' %}
			     <a href="{{ path('hylook_main_homepage', { '_locale': 'es_ES' }) }}">Español</a>
			     <span>English</span>
			 {% endif %}
             </div>
					{% block nav %}{{ include('hylookMainBundle:Default:nav.html.twig') }}{% endblock %}

				</div>

			</div>
		</header>