<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HOME{% endblock %}</title>
		{% block stylesheets %}
		
		<!-- Stylesheets
			============================================= -->
			<link rel="stylesheet" href="{{asset('bundles/hylookmain/css/bootstrap.css')}}" type="text/css" />
			<link rel="stylesheet" href="{{asset('bundles/hylookmain/css/dark.css')}}" type="text/css" />
			
		
						
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<!--[if lt IE 9]>
				<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
			<![endif]-->		
			
		{% endblock %}
 	</head>
    <body class="stretched">
	    <div id="wrapper" class="clearfix">
			{% block header %}{% endblock %}
			{% block slider %}{% endblock %}
			<section id="content">
			  {% block content %}{% endblock %}
			</section>
			{% block footer %}{% endblock %}
			
		</div>
		<!-- Go To Top
	     ============================================= -->
	    <div id="gotoTop" class="icon-angle-up"></div>
		{% block javascripts %}
		<!-- External JavaScripts
			============================================= -->
		<script type="text/javascript" src="{{asset('bundles/hylookmain/js/jquery.js')}}"></script>	
		<script type="text/javascript" src="{{asset('bundles/hylookmain/js/functions.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/hylookmain/js/bootstrap.js')}}"></script>
		{% endblock %}		
	</body>
</html>